#parse("./website/inc/header.vm") 
<div id="container980"> 
    <div class="content">
        <h2>登录</h2>
        <div class="form">
            <fieldset class="reg">
                <legend>
                    2.使用已注册的“逛”帐号登录：
                </legend>
                <span class="top-r">没有帐号？<a href="$!request.getContextPath()/user/signup">免费注册</a></span>
                <div class="field-box pt25">
                <form class="mt15" id="J_LoginForm" method="post" action="$!request.getContextPath()/user/doLogin">
                    <input type="hidden" name="loginSaltCode" id="loginSaltCode" value="$!session.getAttribute('sessionLoginSeries')" />
                    <div class="error-row" #if("$!message" != "") style="display:block" #end><p class="error">$!message</p></div>
                    <div class="form-row">
                        <label>用户名：</label>
                        <input type="text" class="base-input" name="name" id="name" value="" placeholder="" />
                    </div>
                    <div class="form-row">
                        <label>密码：</label>
                        <input type="password" class="base-input" name="password" id="password" value="" />
                    </div>
                    <div class="form-row">
                        <label>&nbsp;</label>
                        <input type="checkbox" class="check" name="remember" value="1" checked="checked" />
                        <span>两周内自动登录</span>
                    </div>
                    <div class="form-row">
                        <label>&nbsp;</label>
                        <input type="submit" class="bbl-btn submit" value="登录" />
                    </div>
                </form>
                </div>
            </fieldset>
        </div>      
    </div>
</div>  

</body>
</html>